.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.idea/
*.iml
*.ipr
*.iws
android/.gradle/
android/local.properties
backend/__pycache__/
__pycache__/
*.pyc
.DS_Store
backend/venv/
dashboard/node_modules/
.env
.env.*
